<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>

  <log4net>

    <appender name="LogToConsole" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%level] %logger | %message%newline" />
      </layout>
    </appender>

    <appender name="LogToFile" type="log4net.Appender.FileAppender">
      <file value="App_Data/logs.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%level] %logger | %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
    </root>

    <logger name="LoggerForDatabase">
      <level value="ALL" />
      <appender-ref  ref="LogToConsole" />
    </logger>

    <logger name="LoggerForService">
      <level value="ALL" />
      <appender-ref  ref="LogToFile" />
    </logger>

  </log4net>

</configuration>